@use 'node_modules/utopia-core-scss/src/utopia' as utopia;
@use '@/assets/scss/abstracts/_colors' as *;
@use '@/assets/scss/abstracts/_fonts' as *;
@use '@/assets/scss/abstracts/_space' as *;

:root {
    // COLORS
    @each $color, $shades in $colors {
        @each $shade, $value in $shades {
            --clr-#{$color}-#{$shade}: #{$value};
        }
    } 
    
    // FONTS
    @include utopia.generateTypeScale((
        "minWidth": 320,
        "maxWidth": 1100,
        "minFontSize": 18,
        "maxFontSize": 20,
        "minTypeScale": 1.2,
        "maxTypeScale": 1.25,
        "positiveSteps": 5,
        "negativeSteps": 2,
        "prefix": "step-",
        "relativeTo": "container"
    ));

    // font sizes
    --fs-200: var(--step--2);
    --fs-300: var(--step--1);
    --fs-400: var(--step-0);
    --fs-500: var(--step-1);
    --fs-600: var(--step-2);
    --fs-700: var(--step-3);
    --fs-800: var(--step-4);
    --fs-900: var(--step-5);

    // font families
    @each $font, $value in $font-families {
        --ff-#{$font}: #{$value};
    }

    // font weights
    @each $weight, $value in $font-weights {
        --fw-#{$weight}: #{$value};
    }

    // SPACING  
    @include utopia.generateSpaceScale((
        "minWidth": 320,
        "maxWidth": 1100,
        "minSize": 18,
        "maxSize": 22,
        "positiveSteps": (1.25, 1.5, 2, 3, 4, 5),
        "negativeSteps": (0.75, 0.5, 0.25),
        "customSizes": ("s-l", "m-xl"),
        "prefix": "space-",
        "relativeTo": "container",
    ));
}