body {
    font-family: var(--ff-base);
    // font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-400);
}

.h1{
    font-size: var(--fs-800);
}

.h2{
    font-size: var(--fs-700);
}

.h3{
    font-size: var(--fs-600);
}