.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .6em 1.4em;
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  
    &:where([data-type="primary"]) {
      background-color: var(--clr-primary-800);
      color: var(--clr-neutral-100);
      box-shadow: 3px 4px 8px 0px hsla(296, 13%, 26%, 0.15);
  
      &:hover {
        background-color: var(--clr-primary-900);
      }
  
      &:focus-within {
        background-color: var(--clr-primary-600);
      }
  
      &:disabled {
        background-color: var(--clr-neutral-300);
      }
    }
    
    &:where([data-type="secondary"]) {
      background-color: transparent;
      color: var(--clr-primary-800);
      box-shadow: 3px 4px 8px 0px hsla(296, 13%, 26%, 0.15);
      border: 1px solid var(--clr-primary-800);
  
      &:hover {
        background-color: var(--clr-neutral-100);
        color: var(--clr-primary-900);
        border-color: var(--clr-primary-900);
      }
  
      &:focus-within {
        background-color: var(--clr-primary-600);
        color: var(--clr-neutral-100)
      }
  
      &:disabled {
        color: var(--clr-neutral-300);
        border-color: var(--clr-neutral-300);
      }
    }
  
    &:where([data-type="tertiary"]) {
      background-color: transparent;
      color: var(--clr-primary-800);
      border: none;
      padding: 0;
  
      &:hover {
        color: var(--clr-primary-900);
        text-decoration: underline;
        text-underline-offset: .3em;
      }
  
      &:focus-within {
        color: var(--clr-primary-600);
      }
  
      &:disabled {
        color: var(--clr-neutral-300);
      }
    }
}